
<style>

  .contForm {
    margin-top: 80px;
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url('assets/img/blur.jpg');

  }

  .wrapper {
    padding: 5px;
    max-width: 960px;
    width: 100%;
    margin: 0px auto;
    width: 580px;
    
  }

  .boxfloattext1 {
    font-weight: bold;
    font-size:3rem;
  }

  .boxfloattext2 {
    font-size:2.5rem;
  }

  .imgsize{
      width: 150px;
      height: 100px;
    }
    .hspace{
      margin-top: 40px
    }

    @media screen and (max-width: 1280px) {

      .contForm {
        margin-bottom: 0px;
      }
    }
    @media screen and (max-width: 980px) {
      .wrapper {
        width: 480px;
      }
      .wrapper .boxfloattext1 {
        font-size:2rem;
      }
      .wrapper .boxfloattext2 {
        font-size:1.5rem;
      }
      .wrapper .imgsize{
      width: 100px;
      height: 70px;
      }
      .wrapper .cssform .labelcl{
      font-size: .9rem;
      }
      .wrapper .cssform .inputcl{
        width: 100%;
        padding: 3px 5px;
        height: 30px;
      }

      .contForm {
        margin-bottom: 0px;
      }
    
    }

    @media screen and (max-width: 680px) {
      .wrapper {
        width: 350px;
      }
      .wrapper .boxfloattext1 {
        font-size:1.5rem;
      }
      .wrapper .boxfloattext2 {
        font-size:1rem;
      }
      .wrapper .imgsize{
      width: 80px;
      height: 60px;
      }
      .wrapper .cssform .labelcl{
      font-size: .8rem;
      margin-top: -4px;
      }
      .wrapper .cssform .inputcl{
      width: 90%;
      padding: 3px 5px;
      height: 30px;
      margin-top: -4px;
      }
      .wrapper .cssform{
        padding-top: 1px;
      }
      .contForm {
        margin-bottom: 0px;
      }
      .wrapper .cssform .inputbt{
        padding: 3px 5px;
      height: 30px;
      width: 90%;
      }
    }
    @media screen and (max-width: 320px) {
      .wrapper {
        width: 350px;
      }
      .wrapper .boxfloattext1 {
        font-size:1.5rem;
      }
      .wrapper .boxfloattext2 {
        font-size:1rem;
      }
      .wrapper .imgsize{
      width: 80px;
      height: 60px;
      }
      .wrapper .cssform .labelcl{
      font-size: .8rem;
      margin-top: -4px;
      }
      .wrapper .cssform .inputcl{
      width: 90%;
      padding: 3px 5px;
      height: 30px;
      margin-top: -4px;
      }
      .wrapper .cssform{
        padding-top: 1px;
      }
      .contForm {
        margin-bottom: 0px;
      }
      .wrapper .cssform .inputbt{
        padding: 3px 5px;
      height: 30px;
      width: 90%;
      }
    }

input[type=text], select {
width: 100%;
padding: 5px 8px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
color: #666;
}

input[type=submit] {
width: 100%;
background-color: #FC4F17;
color: white;
padding: 10px 18px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;
}

input[type=submit]:hover {
background-color: #FC4F17;
}

.cssform {
padding: 20px;
color: white;
}

::placeholder {
color:darkgrey;
opacity: 1; /* Firefox */
font-size: 14px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: darkgrey;
}

::-ms-input-placeholder { /* Microsoft Edge */
color: darkgrey;
}
  </style>

  <div class="contForm"> 
    <div style="background-color: rgba(252, 79, 23, .3); height: 100%;">

      <div class="wrapper">
        <div class="hspace">
          <div style="float: left; margin-left: 30px;">
              <img class="imgsize" id="u107" alt="" src="assets/img/infonavitb.png">
          </div>
          <div style="float: left; margin-left: 30px;color: white;">
              <div style="display:inline-block; text-align: center">
                  <div class="boxfloattext2" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Cotiza tus puntos</div>
                  <div class="boxfloattext1" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-weight: bolder;">INFONAVIT</div>
                </div>
          </div>
    
            <div class="cssform" style="float: left;">
              <form id="frmCita" method="post" enctype="multipart/form-data" action="" data-sizePolicy="fixed" data-pintopage="page_fixedCenter">
                <label class="labelcl" for="fname">Nombre:</label>
                <input class="inputcl" type="text" id="fname" name="firstname" placeholder="Introducir nombre..">
            
                <label class="labelcl" for="lname">Fecha de nacimiento:</label>
                <input class="inputcl" type="text" id="lname" name="lastname" placeholder="Introducir fecha de nacimiento..">
            
                <label class="labelcl" for="fname">Numero de seguro social:</label>
                <input class="inputcl" type="text" id="fname" name="firstname" placeholder="Introducir nº de seguro social..">
            
                <label class="labelcl" for="lname">Numero de teléfono:</label>
                <input class="inputcl" type="text" id="lname" name="lastname" placeholder="Introducir nº de telf...">
            
                <input class="inputbt" type="submit" value="Enviar">
              </form>
            </div>  
          </div> 
      </div>
    </div>   
  </div> 