<header class="ae-container-fluid ae-container-fluid--full rk-header " style="background-color: #FC4F17;" >
  <input type="checkbox" id="mobile-menu" class="rk-mobile-menu">
  <label for="mobile-menu">
    <svg>
      <use xlink:href="assets/img/symbols.svg#bar"></use>
    </svg>
    <svg>
      <use xlink:href="assets/img/symbols.svg#bar"></use>
    </svg>
    <svg>
      <use xlink:href="assets/img/symbols.svg#bar"></use>
    </svg>
  </label>
  <div class="ae-container-fluid rk-topbar ae-grid ae-grid--collapse" style="padding-top: .5rem;"> 
      <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-right">

        </div>
      <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-right">

        </div>
      <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-right">
          <p class="rk-footer__textAux rk-footer__contact "> <span class="ae-u-bold">Correo:</span><span class="ae-u-bolder"> <a href="#0" class="rk-dark-colorAux">info@pradonorte.com</a></span>
            <span class="ae-u-bold">|</span><span class="ae-u-bold">Telefono:</span><span class="ae-u-bolder"> <a href="#0" class="rk-dark-colorAux">(998)8810077</a></span>
          </p>
        <a href="https://www.facebook.com/PradoNorteCasasCancun" class="rk-social-btnAuxR ">
          <svg>
            <use xlink:href="assets/img/symbols.svg#icon-facebook"></use>
          </svg></a><a href="https://www.instagram.com/pradonortecancun/" class="rk-social-btnAux ">
          <svg>
            <use xlink:href="assets/img/symbols.svg#icon-instagram"></use>
          </svg></a></div>
    </div>
  <div class="ae-container-fluid rk-topbar">
    <h1 class="rk-logo"><a routerLink="home">
      <img class="svg" id="u107" width="257" height="61" alt="" data-mu-svgfallback="assets/img/svg%20pegado%201143682x271_poster_.png?crc=3870437727" src="assets/img/svg-pegado-1143682x271.svg?crc=4272778792">
    </a></h1>
    
    <nav class="rk-navigation" style="margin-top: 2.5rem">
      
      <ul class="rk-menu">
        <li routerLinkActive="active" class="rk-menu__item"><a routerLink="home" class="rk-menu__link">INICIO</a>
        </li>
        <li routerLinkActive="active" class="rk-menu__item"><a routerLink="desarrollo" class="rk-menu__link">EL DESARROLLO</a>
        </li>
        <li routerLinkActive="active" class="rk-menu__item"><a routerLink="about" class="rk-menu__link">MODELO DE CASAS</a>
        </li>
        <li routerLinkActive="active" class="rk-menu__item"><a routerLink="about" class="rk-menu__link">UBICACION</a>
        </li>
        <li routerLinkActive="active" class="rk-menu__item"><a routerLink="about" class="rk-menu__link">CONTACTO</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
