
<style>

  .contForm {
    margin-top: 80px;
    height: 100%;
    width: 100%;
    position: absolute;

  }

  .wrapper {
    padding: 5px;
    max-width: 960px;
    width: 100%;
    margin: 0px auto;
    
  }

  .boxfloattext1 {
    font-weight: bold;
    font-size:6rem;
  }

  .boxfloattext2 {
    font-size:5.5rem;
  }

    .hspace{
      margin-top: 40px
    }

    .columns {
      display: flex;
      flex-flow: row wrap;
      margin: 5px 0;
      width: 90%;
      justify-content: center;
      padding-left: 10%;
    }
    
    .column {
      flex: 1;
      margin: 2px;
      padding: 10px;
    }
    .column1 {
      flex: .3;
      margin: 2px;
      padding: 5px;
      width: 20%;
    }
    .column:first-child {
      margin-left: 0;
    }
    .column:last-child {
      margin-right: 0;
    }

    @media screen and (max-width: 1280px) {

      .contForm {
        margin-bottom: 115px;
      }
    }
    @media screen and (max-width: 980px) {
      .wrapper {
        width: 480px;
      }
      .wrapper .boxfloattext1 {
        font-size:2rem;
      }
      .wrapper .boxfloattext2 {
        font-size:1.5rem;
      }

      .contForm {
        margin-bottom: 300px;
      }
      .columns .column {
        margin-bottom: 5px;
        flex-basis: 40%;
      }
      .columns .column:nth-last-child(2) {
        margin-right: 0;
      }
      .columns .column:last-child {
        flex-basis: 100%;
        margin: 0;
      }
    
    }

    @media screen and (max-width: 680px) {
      .wrapper {
        width: 350px;
      }
      .wrapper .boxfloattext1 {
        font-size:1.5rem;
      }
      .wrapper .boxfloattext2 {
        font-size:1rem;
      }
      .contForm {
        margin-bottom: 250px;
      }
      .columns .column {
        flex-basis: 100%;
        margin: 0 0 5px 0;
      }
      .wrapper .lbltext{

      font-size: .6rem; color:black;

      }
      .wrapper .lbltitle{

      font-size: .6rem; color:black; font-weight: bold;

      }
      .wrapper .texttitle{

      font-size: 1rem; color:#FC4F17;

      }
      .wrapper .texttitle{

      font-size: 1.5rem; font-weight: bold; color:#FC4F17;

      }
    }
    @media screen and (max-width: 320px) {
      .wrapper {
        width: 350px;
      }
      .wrapper .boxfloattext1 {
        font-size:1.5rem;
      }
      .wrapper .boxfloattext2 {
        font-size:1rem;
      }

      .contForm {
        margin-bottom: 570px;
      }
      .columns .column {
        flex-basis: 100%;
        margin: 0 0 5px 0;
      }

      .wrapper .lbltext{

      font-size: .6rem; color:black;

      }
      .wrapper .lbltitle{

      font-size: .6rem; color:black; font-weight: bold;

      }
      .wrapper .texttitle{

      font-size: 1rem; color:#FC4F17;

      }
      .wrapper .texttitle{

      font-size: 1.5rem; font-weight: bold; color:#FC4F17;

      }

    }

.lbltext{

  font-size: .8rem; color:black;

}
.lbltitle{

  font-size: .8rem; color:black; font-weight: bold;

}
.texttitle{

  font-size: 1.5rem; color:#FC4F17;

}
.texttitle{

  font-size: 2.5rem; font-weight: bold; color:#FC4F17;

}
  </style>

  <div class="contForm"> 
    <div>

      <div class="wrapper">
        <div class="hspace">
          <section class="columns">
            <div class="column1">

            </div>

            <div class="column" style="text-align:left;line-height: 1.5rem;">
                <div>
                    <span class="texttitle">Productos <span class="texttitleAux">INFONAVIT</span> </span>
                    

                </div>
            </div>

        </section>	

        <section class="columns">
          
            <div class="column1">
                    <img class="svg" id="u107" width="100" height="50" alt="" src="assets/img/creditoinfo.png">       
            </div>
            <div class="column" style="text-align:left;line-height: 1rem;">
                    <span class="lbltext">
                    <span class="lbltitle">El crédito Infonavit</span> es un crédito hipotecario que puedes solicitar en pesos o VSM para que compres, construyas, repares, amplíes, mejores tu vivienda, o bien, pagues la hipoteca de la que ya eres propietario, en el que se suma el saldo de tu Subcuenta de Vivienda.</span>
            </div>
   
        </section>	

        <section class="columns">
          
            <div class="column1">
                    <img class="svg" id="u107" width="100" height="50" alt="" src="assets/img/infonavitt.jpg">       
            </div>
            <div class="column" style="text-align:left;line-height: 1rem;">
                    <span class="lbltext">
                    <span class="lbltitle">Infonavit Total</span> es un crédito hipotecario que puedes solicitar en pesos o VSM para que compres una vivienda, aprovechando toda tu capacidad crediticia, en el que suma el saldo de tu Subcuenta de Vivienda.</span>
            </div>
   
        </section>	

        <section class="columns">
            <div class="column1">

            </div>

            <div class="column" style="text-align:left;line-height: 1.5rem;">
                <div>
                    <span class="texttitle">Productos <span class="texttitleAux">COFINAVIT</span> </span>
                    

                </div>
            </div>

        </section>	

        <section class="columns">
          
            <div class="column1">
                         
            </div>
            <div class="column" style="text-align:left;line-height: 1rem;">
                    <span class="lbltext">
                    <span class="lbltitle">Cofinavit</span> es un crédito en VSM otorgado por el infonavit en conjunto con una entidad financiera en el que se suma el saldo de tu subcuenta de vivienda.</span>
            </div>
   
        </section>	

        <section class="columns">
          
            <div class="column1">
                    <img class="svg" id="u107" width="100" height="50" alt="" src="assets/img/cofiin.png">     
            </div>
            <div class="column" style="text-align:left;line-height: 1rem;">
                    <span class="lbltext">
                    <span class="lbltitle">Confinavit Ingresos Adicionales</span> es un crédito hipotecario en VSM otorgado por el infonavit en conjunto con una entidad financiera para trabajadores que reciben ingresos adicionales. Una parte del crédito la otorga en infonavit tomando en cuenta tu salario y la otra mitad la entidad financiera considerando tus propinas o comisiones.</span>
            </div>
   
        </section>	
          </div> 
      </div>
    </div>   
  </div> 