<style>
	/*=====================================================
   Base
=====================================================*/
	#content-slider {
		line-height: 1;
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		font-size: 10px;
		/* font-size 1em = 10px = 62.5%*/
		/* background: #4e616d;*/

	}


	/*=====================================================
   Clearfix
=====================================================*/
	.clr {
		*zoom: 1;
	}

	.clr:before,
	.clr:after {
		display: table;
		content: "";
		line-height: 0;
	}

	.clr:after {
		clear: both;
	}


	/*=====================================================
   Wrapper
=====================================================*/
	#content-slider .wrap-slider {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		max-width: 100%;
		/*max-height: 400px;*/
		height: 100%;
		width: 100%;
		margin: 0px auto;
		position: relative;
		text-align: right;
		margin-top: 115px;
	}

	#content-slider .wrap-slider.full {
		width: 100%;
		max-width: 100%;
		text-align: center;
		border: none;
	}



	/*=====================================================
   Responsive Images
   (Ensure images don't scale beyond their parents)
=====================================================*/
	#content-slider img {
		max-width: 100%;
		width: auto\9;
		height: auto;
		vertical-align: middle;
		border: 0;
		-ms-interpolation-mode: bicubic;
	}


	/*=====================================================
   Main
=====================================================*/
	#content-slider .slider {
		margin-top: 5%;
		position: relative;
		overflow: hidden;
		width: 100%;
		margin: 0 auto;
	}

	#content-slider .inset {
		width: 500%;
		line-height: 0;

		-webkit-animation: 30s slidy infinite;
		-moz-animation: 30s slidy infinite;
		-ms-animation: 30s slidy infinite;
		-o-animation: 30s slidy infinite;
		animation: 30s slidy infinite;

		-webkit-transition: all 2s ease-in-out;
		-moz-transition: all 2s ease-in-out;
		-ms-transition: all 2s ease-in-out;
		-o-transition: all 2s ease-in-out;
		transition: all 2s ease-in-out;
	}

	#content-slider h1.main-title {
		text-align: center;
		color: #00ABFA;
		font-weight: 200;
		font-size: 32px;
		text-transform: uppercase;
		line-height: 62px;
		letter-spacing: 0.1em;
		margin: 5px 0 0px 0;
	}

	#content-slider .slider [class*='title-'] {
		background: rgba(0, 0, 0, 0.51);
		padding: 1% 1%;
		display: inline-block;
		width: 40%;
		/*width: 385px;*/
		height: auto;
		position: absolute;
		z-index: 1;
		margin: 15px 0 0 15px;
		/*margin-bottom: -15%;
	left: -65%;*/
		/*
	margin-left: -40%;*/
		line-height: normal;
		overflow: hidden;
		text-align: left;

		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}

	#content-slider .th>[class*='title-'] {
		width: auto;
		height: auto;
		position: absolute;
		top: 0em;
		right: 0em;
		text-align: right;
		margin: 5px 10px 0 0;
		opacity: 1;
		line-height: normal;
		overflow: hidden;

		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}


	/*=====================================================
   Article
=====================================================*/
	#content-slider .slider h1,
	#content-slider .th h1 {
		color: #fffefe;
		text-transform: uppercase;
		padding: 0;
		margin: 0;
		font-weight: bold;
	}

	#content-slider .slider p,
	#content-slider .th p {
		color: #fffefe;
		text-transform: uppercase;
		padding: 0;
		margin: 0;
	}

	#content-slider .slider a,
	#content-slider .th a {
		font-weight: bold;
		color: #00ABFA;
		text-decoration: none;
		text-transform: uppercase;
	}


	/*=====================================================
   Article Image Slider
=====================================================*/
	#content-slider .slider h1 {
		font-size: 3.0em;
		line-height: 2em;
	}

	#content-slider .slider p {
		font-size: 2.3em;
		line-height: 1.2em;
	}

	#content-slider .slider a {
		font-size: 1.7em;
		line-height: 1.5em;
	}


	/*=====================================================
   Article Image Preview
=====================================================*/
	#content-slider .th h1 {
		font-size: 2em;
		line-height: 1.2em;
	}

	#content-slider .th p {
		font-size: 1.2em;
		line-height: 1.7em;
	}

	#content-slider .th a {
		font-size: 1.55em;
		line-height: 1.55em;
	}

	#content-slider .th img {
		position: relative;
		max-width: 100%;
		height: auto !important;

		-webkit-filter: brightness(50%);
		-moz-filter: brightness(50%);
		-ms-filter: brightness(50%);
		-o-filter: brightness(50%);
		filter: brightness(50%);

		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}

	#content-slider .th:hover img {
		-webkit-filter: brightness(100%);
		-moz-filter: brightness(100%);
		-ms-filter: brightness(100%);
		-o-filter: brightness(100%);
		filter: brightness(100%);
	}


	/*=====================================================
   Main Image
=====================================================*/
	#content-slider figure {
		margin: 0;
		padding: 0;
		width: 20%;
		float: left;
		cursor: pointer;

		-webkit-transition: all 2s ease-in-out;
		-moz-transition: all 2s ease-in-out;
		-ms-transition: all 2s ease-in-out;
		-o-transition: all 2s ease-in-out;
		transition: all 2s ease-in-out;
	}

	#content-slider figure img {
		width: 100%;
		height: 605px;
		position: relative;
	}


	/*=====================================================
   Animation Image
=====================================================*/

	@keyframes slidy {
		20% {
			margin-left: 0%;
		}

		25% {
			margin-left: -100%;
		}

		45% {
			margin-left: -100%;
		}

		50% {
			margin-left: -200%;
		}

		70% {
			margin-left: -200%;
		}

		75% {
			margin-left: -300%;
		}

		100% {
			margin-left: -300%;
		}
	}

	@-webkit-keyframes slidy {
		20% {
			margin-left: 0%;
		}

		25% {
			margin-left: -100%;
		}

		45% {
			margin-left: -100%;
		}

		50% {
			margin-left: -200%;
		}

		70% {
			margin-left: -200%;
		}

		75% {
			margin-left: -300%;
		}

		100% {
			margin-left: -300%;
		}
	}

	@-moz-keyframes slidy {
		20% {
			margin-left: 0%;
		}

		25% {
			margin-left: -100%;
		}

		45% {
			margin-left: -100%;
		}

		50% {
			margin-left: -200%;
		}

		70% {
			margin-left: -200%;
		}

		75% {
			margin-left: -300%;
		}

		100% {
			margin-left: -300%;
		}
	}

	@-o-keyframes slidy {
		20% {
			margin-left: 0%;
		}

		25% {
			margin-left: -100%;
		}

		45% {
			margin-left: -100%;
		}

		50% {
			margin-left: -200%;
		}

		70% {
			margin-left: -200%;
		}

		75% {
			margin-left: -300%;
		}

		100% {
			margin-left: -300%;
		}
	}

	.floatcont {
		position: absolute;
		height: 500px;
		width: 950px;
		color: white;
		background: rgba(0, 0, 0, 0.3);
		z-index: 2;
		margin-top: 150px;
		font-size: 8rem;
		font-weight: bold;
		line-height: 7rem;
	}

	/* STRUCTURE */
	.wrapper {
		padding: 5px;
		max-width: 100%;
		width: 100%;
		margin: 20px auto;
	}

	.columns {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		margin: 5px 0;

	}

	.column {
		flex: 1;
		margin: 2px;
		padding: 10px;
		height: 250px;

	}

	.column:first-child {
		margin-left: 0;
	}

	.column:last-child {
		margin-right: 0;
	}

	.floatcont .text1 {
	font-size: 1rem;
	line-height: 1rem;
	margin-left:40%;
	}

	@media only screen and (max-width: 1040px) and (min-width: 640px) {

		#content-slider .th h1 {
			font-size: 1.2em;
			line-height: 1em;
		}

		#content-slider .th p {
			font-size: 1.0em;
			line-height: 0.7em;
		}

		#content-slider .th a {
			font-size: 0.55em;
			line-height: 0.55em;
		}

		.floatcont {

			height: 400px;
			width: 650px;
			font-size: 5rem;
			line-height: 5rem;

		}

		.floatcont .text1 {

			font-size: 1rem;
			line-height: 1rem;
			margin-left:30%;
		}

		.columns .column  {
      height: 240px;
    }

	}

	@media only screen and (max-width: 640px) {

		#content-slider .slider [class*='title-'] {
			margin-bottom: -20%;
		}

		.floatcont {

			height: 250px;
			width: 300px;
			font-size: 2rem;
			line-height: 3rem;

		}

		.floatcont .text1 {

		font-size: .9rem;
		line-height: .9rem;
		margin-left:20%;

		}

		.columns .column  {
      height: 230px;
    }

		.wrapper{
			margin-bottom: 50px;
		}

	}
	@media screen and (max-width: 320px) {
		.wrapper{
			margin-bottom: 100px;
		}
	}
</style>

<div class="floatcont">
	<div style="margin-top: 10%">
		<div style="margin-left:15%;"><span style="font-weight:bolder;">SE VIVE</span></div>
		<div style="margin-left:15%;"><span style="font-weight:bolder;">BIEN</span> Y SI</div>
		<div style="margin-left:15%;">TE ALCANZA</div>
		<div class="text1"><a routerLink="/agendarcita" class="rk-menu__link">
			<div style="border-radius: 15px;background:firebrick;width: 200px;height: 40px; border:4px solid firebrick;text-align:center;padding: 5px;margin-top: 1rem;margin-left: 2rem;">Agendar cita</div></a></div>
		 
	</div>

</div>

<div id="content-slider" class="clr">
	<div class="wrap-slider clr">

		<div class="slider">

			<div class="inset">

				<figure>

					<img src="assets/img/6.jpg" style="opacity: 1;" alt="" id="i-1" class="f">
				</figure>

				<figure>

					<img src="assets/img/8.jpg" alt="" id="i-2" class="f">
				</figure>

				<figure>

					<img src="assets/img/9.jpg" alt="" id="i-3" class="f">
				</figure>

				<figure>

					<img src="assets/img/10.jpg" alt="" id="i-4" class="f">
				</figure>

			</div>
		</div>

	</div>


</div>

<div class="wrapper">
	<section class="columns">
		<div class="column">
			<div style=" margin-left: auto; margin-right: auto; width: 280px;">
				<div style="width: 280px; color:white;">
					<div style="color:#FC4F17; font-family:Arial, Helvetica, sans-serif; font-size: 1.3rem; text-align: center;font-weight: bold">Tramitamos tus créditos
					</div>
					<div style="float: left;">
						<img class="svg" id="u107" width="80" height="50" alt=""src="assets/img/logofovissste.png">
					</div>
					<div style="float: left;">
						<img class="svg" id="u107" width="100" height="50" alt=""src="assets/img/issfam.png">
					</div>
					<div style="float: left; margin-top: 10px;">
						<span style=" -moz-border-radius:10px 10px 10px 10px; border-radius:10px 10px 10px 10px; border:solid 1px #000; background-color:mediumblue; padding:10px;font-size:.8rem;width: 100px;display: block;color: white;font-weight: bold;">CRÉDITOS BANCARIOS
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="column">
			<div style=" margin-left: auto; margin-right: auto; width: 290px;">
				<div style="width: 290px; color:white;">
					<div style="float: left;">
						<img class="svg" id="u107" width="100" height="50" alt="" src="assets/img/infonavit.png">
					</div>
					<div style="float: left;">
						<div style="width: 180px; color:white; margin-left: 10px; line-height: 1.9rem">
							<span style="font-size: 1rem; color:orangered;">Cotiza tus puntos </span>
							<span style="font-size: 1.9rem; font-weight: bold; color:orangered;">INFONAVIT</span>
							<a routerLink="/puntos" class="rk-menu__link">
								<div style="border-radius: 15px;background:firebrick;margin-left: auto;margin-right: auto;width: 100px;height: 40px; border:4px solid firebrick;text-align: center;margin-top: 10px;">Entrar
								</div
								></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="column">
				<div style="border-radius: 25px;background: #FC4F17;margin-left: auto;margin-right: auto;width: 200px;height: 150px; ">
					<div style="width: 200px;height: 150px; color:white;padding: 20px;line-height: 1.9rem">
						<span style="font-size: 1.3rem">Como obtener tu </span>
						<span style="font-size: 2.5rem; font-weight: bold">crédito?</span>
						<a routerLink="/credito" class="rk-menu__link">
							<div style="border-radius: 15px;background:firebrick;margin-left: auto;margin-right: auto;width: 100px;height: 40px; border:4px solid #fff;text-align: center;margin-top: 10px;">Entrar
							</div>
						</a>
					</div>
				</div>
			</div>
		</section>
	</div> 