
<style>

  header {
    height: auto;
    margin-top: 115px;
  }

  .wrapper {
    padding: 5px;
    max-width: 960px;
    width: 95%;
    margin: 20px auto;
  }

  .columns {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      margin: 5px 0;
    }
    
    .column {
      flex: 1;
      margin: 5px;
      padding: 10px;
    }
    .column:first-child {
      margin-left: 0;
    }
    .column:last-child {
      margin-right: 0;
    }
    
    @media screen and (max-width: 980px) {
      .columns .column {
        margin-bottom: 5px;
        flex-basis: 40%;
      }
      .columns .column:nth-last-child(2) {
        margin-right: 0;
      }
      .columns .column:last-child {
        flex-basis: 100%;
        margin: 0;
      }
      .columns .column .boxfloattext1 {
        font-size:1.5rem;
      }
      .columns .column .boxfloattext2 {
        font-size:.8rem;
      }
    }
    @media screen and (max-width: 680px) {
      .columns .column {
        flex-basis: 100%;
        margin: 0 0 5px 0;
      }
      .columns .column .boxfloattext1 {
        font-size:1.2rem;
      }
      .columns .column .boxfloattext2 {
        font-size:.6rem;
      }
    }

.boxfloattext1 {
  font-weight: bold;
	font-size:2rem;
}
.boxfloattext2 {
  font-size:1rem;
}
  </style>

  <header class="item-inside-1Aux1"> 
      <div class="wrapper">

          <section class="columns"> 

            <div class="column" style="color: white;
            background: rgba(219, 108, 61, 0.9);"> 
           <div class="boxfloattext1">EL</div>
           <div class="boxfloattext1">DESARROLLO</div>
           <div class="boxfloattext2" style="margin-top: 10px">Vive en el mejor conjunto habitacional 
            de su tipo, en un lugar seguro para ti y tu familia. 
            Desarrollo integral con casas de dos recámaras, todos los servicios y en una zona 
            de gran plusvalía al norponiente de Cancún. 
            En Prado Norte los sueños que has tenido se hacen realidad. Ahora con nuevos 
            modelos de casas duplex más económicos, podrás tener tu casa en Cancún.</div>
            
            </div>

            <div class="column" style="color: white;
            background: rgba(219, 108, 61, 0.9);"> 
            <div class="boxfloattext2" style="margin-top: 10px">Nuestro hogar debe de ser un lugar donde 
              podamos descansar con tranquilidad después de llegar del trabajo, con ecotecnologías 
              que ayuden al planeta y a los gastos, en donde nuestros hijos puedan tener espacio 
              para jugar y convivir en extensos parques con canchas deportivas, donde se pueda 
              tener escuelas cercanas y avenidas principales donde llegue el transporte público, 
              un lugar en donde todos se lleven bien.</div>
            </div>

            <div class="column" style="color: white;
            background: rgba(219, 108, 61, 0.9);"> 
            <div class="boxfloattext2" style="margin-top: 10px">Lo que siempre has deseado está en Prado Norte, con todo lo bueno que te puedas imaginar, muchos Cancunenses ya lo han comprobado, ven y descubre porque aquí ¡Se vive bien!</div>
                      
            <a routerLink="/agendarcita" class="rk-menu__link"><div style="border-radius: 15px;
              background:firebrick;
              width: 200px;
              height: 40px; 
              border:4px solid firebrick;
              text-align:center;
              padding: 5px;
              margin-top: 1rem;
              margin-left: 2rem;
              ">
              Agendar cita
              </div></a>
            </div>

          </section>
          <section class="columns"> 

              <div class="column" style="color: white;
              background: rgba(219, 108, 61, 0.9);"> 
             <div class="boxfloattext1">AMENIDADES PARA TÍ</div>
             <div class="boxfloattext2" style="margin-top: 10px; line-height: 1rem">
                * Metros cuadrados de áreas verdes totales:	182,676.52 M2
              </div>
              <div class="boxfloattext2" style="margin-top: 8px; line-height: 1rem">
                * Número de áreas verdes:	50
              </div>
              <div class="boxfloattext2" style="margin-top: 8px; line-height: 1rem">
                * Metros cuadrados de áreas comerciales:	105,696.58 M2
              </div>
              <div class="boxfloattext2" style="margin-top: 8px; line-height: 1rem">
                * Número de áreas comerciales:	30
              </div>
              <div style="margin-top: 10px">
                  <img class="svg" id="u107" width="150" height="100" alt="" src="assets/img/vecinal.jpg">
              </div>
              
              </div>
  
              <div class="column" style="color: white;
              background: rgba(219, 108, 61, 0.9);"> 
              <div class="boxfloattext2" style="margin-top: 8px; line-height: 1rem">
                  Equipamiento de áreas comunes:
                </div>
                <div class="boxfloattext2" style="margin-top: 8px; line-height: 1rem">
                  * Cancha deportiva multiusos
                </div>
                <div class="boxfloattext2" style="margin-top: 8px; line-height: 1rem">
                    * Asadores
                </div>
                <div class="boxfloattext2" style="margin-top: 8px; line-height: 1rem">
                    * Juegos infantiles
                </div>
                <div class="boxfloattext2" style="margin-top: 8px; line-height: 1rem">
                    * Andadores
                </div>
                <div class="boxfloattext2" style="margin-top: 8px; line-height: 1rem">
                    * Juegos infantiles
                </div>
                <div class="boxfloattext2" style="margin-top: 8px; line-height: 1rem">
                    * Preparación para bomba de riego para áreas verdes
                </div>
              
                  <div class="boxfloattext2" style="margin-top: 10px; line-height: 1rem">
                      Escuelas:
                    </div>
                    <div class="boxfloattext2" style="margin-top: 8px; line-height: 1rem">
                      * 2 Jardín de niños
                    </div>
                    <div class="boxfloattext2" style="margin-top: 8px; line-height: 1rem">
                      * 2 Primaria
                    </div>
                    <div class="boxfloattext2" style="margin-top: 8px; line-height: 1rem">
                      * 1 Secundaria
                    </div>
                    <div class="boxfloattext2" style="margin-top: 8px; line-height: 1rem">
                      * 1 Preparatoria (Bachilleres 4)
                    </div>
                    <div class="boxfloattext2" style="margin-top: 8px; line-height: 1rem">
                      * 1 Universidad (UQROO)
                    </div>
                    
              </div>
              
  
              <div class="column" style="color: white;
              background: rgba(219, 108, 61, 0.9);"> 
              <div class="boxfloattext2" style="margin-top: 10px; line-height: 1rem">
                  El parque emblemático que próximamente se construirá contará con:
                </div>
                <div class="boxfloattext2" style="margin-top: 8px; line-height: 1rem">
                  * Centro de salud
                </div>
                <div class="boxfloattext2" style="margin-top: 8px; line-height: 1rem">
                  * Centro comunitario
                </div>
                <div class="boxfloattext2" style="margin-top: 8px; line-height: 1rem">
                  * Estación de Policía
                </div>
                <div class="boxfloattext2" style="margin-top: 8px; line-height: 1rem">
                  * Plaza cívica
                </div>
                <div class="boxfloattext2" style="margin-top: 8px; line-height: 1rem">
                  * Canchas deportivas multiusos
                </div>
                <div class="boxfloattext2" style="margin-top: 8px; line-height: 1rem">
                    * Cancha de fútbol rápido
                  </div>
                  <div class="boxfloattext2" style="margin-top: 8px; line-height: 1rem">
                    * Ciclopista
                  </div>
                  <div class="boxfloattext2" style="margin-top: 8px; line-height: 1rem">
                    * Pista aeróbica
                  </div>
                  <div class="boxfloattext2" style="margin-top: 8px; line-height: 1rem">
                      * Asadores
                    </div>
                    <div class="boxfloattext2" style="margin-top: 8px; line-height: 1rem">
                        * Areneros
                      </div>
                      <div class="boxfloattext2" style="margin-top: 8px; line-height: 1rem">
                        * Área para Juegos infantiles
                      </div>
                      <div class="boxfloattext2" style="margin-top: 8px; line-height: 1rem">
                        * Área de acondicionamiento físico
                      </div>
              </div>

            </section>
      </div>
      
  </header>
