<style>
  
    /* STRUCTURE */
  
    .columns {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      margin: 5px 0;
  
    }
  
    .column {
      flex: 1;
      margin: 2px;
      padding: 10px;
      height: 250px;
  
    }
  
    .column:first-child {
      margin-left: 0;
    }
  
    .column:last-child {
      margin-right: 0;
    }
  
    .floatcont .text1 {
    margin-left:40%;
    }
  
    @media screen and (max-width: 1280px) {
  
      #content-slider .th h1 {
        font-size: 1.2em;
        line-height: 1em;
      }
  
      #content-slider .th p {
        font-size: 1.0em;
        line-height: 0.7em;
      }
  
      #content-slider .th a {
        font-size: 0.55em;
        line-height: 0.55em;
      }
  
      .floatcont {
  
        height: 650px;
        width: 450px;
        margin-left: 18%;
      }
  
      .floatcont .text1 {
  
        margin-left:30%;
      }
  
      .columns .column  {
        height: 240px;
      }
      #content-slider .wrap-slider {
  
      
      width: 50%;
  
    }
  
    .contenido .contimg{
      margin-left: 15%;
      width: 800px;
      }
  
      .contenido2 .contimgAux{
      margin-left: 12%;
      }
      .contenido3 .contForm {
        height: 110%;
  
  }
      .contenido3 .contForm .contFormAuxMsj {
  
      width: 50%
      }
  
      .contenido3 .contForm .contFormAux{
  
        
      width: 50%
  }
  
  .contenido3 .contForm .contFormAuxMsj .boxfloattext4{
    line-height: 2em;
  font-size: 2rem;
  }
  
  .contenido3 .contForm .contFormAuxMsj .text1{
  margin-left: 15%
  }
  
    }
    @media screen and (max-width: 980px) {
      #content-slider .th h1 {
        font-size: 1.2em;
        line-height: 1em;
      }
  
      #content-slider .th p {
        font-size: 1.0em;
        line-height: 0.7em;
      }
  
      #content-slider .th a {
        font-size: 0.55em;
        line-height: 0.55em;
      }
  
      .floatcont {
  
        height: 650px;
        width: 450px;
        margin-left: 5%;
  
      }
  
      .floatcont .text1 {
  
        margin-left:30%;
      }
  
      .columns .column  {
        height: 240px;
      }
      #content-slider .wrap-slider {
  
          
      width: 60%;
      margin-left: 35%;
  
      }
      .floatcont .boxfloattext1{
        font-size: 1rem;
      }
      .floatcont .boxfloattext2{
        font-size: .7rem;
      }
      .floatcont .boxfloattext3{
        font-size: 1.5rem;
      }
      .floatcont .contlbl{
        width: 220px;
      }
      .contenido .contimg{
      margin-left: 12%;
      width: 600px;
      
      }
      .contenido2 .contimgAux{
      margin-left: 10%;
      
      }
  
      .contenido2 .contimgAux .contimg2{
      width: 250px;
  
      }
      .contenido3 .contForm {
height: 130%;
  }
      .contenido3 .contForm .contFormAuxMsj {
        margin-left: 20%;
  width: 100%
  }
  
  .contenido3 .contForm .contFormAux{
    margin-left: 20%;
  width: 60%
  }
  
  .contenido3 .contForm .contFormAuxMsj .boxfloattext4{
  line-height: 1.5em;
  font-size: 3rem;
  }
  
  .contenido3 .contForm .contFormAuxMsj .text1{
  margin-left: 20%;
  }
      
    }  
    @media screen and (max-width: 680px) {
  
      #content-slider .slider [class*='title-'] {
        margin-bottom: -20%;
      }
  
      .floatcont {
  
        height: 400px;
        width: 100%;
        margin-top: 720px;
        margin-left:0;
        margin-bottom: 130px;
      }
  
      .floatcont .text1 {
  
      font-size: .9rem;
      line-height: .9rem;
      margin-left:20%;
  
      }
  
      .columns .column  {
        height: 330px;
      }
  
      .wrapper{
        margin-bottom: 50px;
      }
  
      #content-slider .wrap-slider {
        width: 100%;
        margin-left:0;
      }
      .contenido .contimg{
      margin-left: 5%;
      width: 350px;
      margin-top: 350px;
      margin-bottom: 150px;
      }
      .contenido2 .contimgAux{
      margin-left: 10%;
      margin-top: 260px;
      margin-bottom: 150px;
      }
      .contenido2 .contimgAux .contimg2{
      width: 130px;
      
      }
  
      .contenido3 .contForm .contFormAux .wrapper{
        width: 350px;
      }
      .contenido3 .contForm {
height: 120%;
margin-bottom: 0;
  }
      .contenido3 .contForm .contFormAuxMsj {
        margin-left: 10%;
  width: 100%
  }
  
  .contenido3 .contForm .contFormAux{
  
    margin-left: 2%;
  width: 100%
  }
  
  .contenido3 .contForm .contFormAuxMsj .boxfloattext4{
  line-height: 1em;
  font-size: 2rem;
  }
  
  .contenido3 .contForm .contFormAuxMsj .text1{
  margin-left: 10%;
  }
      .wrapper .boxfloattext1 {
          font-size:1.5rem;
        }
        .wrapper .boxfloattext2 {
          font-size:1rem;
        }
        .wrapper .imgsize{
        width: 80px;
        height: 60px;
        }
        .wrapper .cssform .labelcl{
        font-size: .8rem;
        margin-top: -4px;
        }
        .wrapper .cssform .inputcl{
        width: 90%;
        padding: 3px 5px;
        height: 30px;
        margin-top: -4px;
        }
        .wrapper .cssform{
          padding-top: 1px;
        }
        .wrapper .linecl{
          margin-top: -15px;
        }
        .contForm {
          margin-bottom: 140px;
        }
        .wrapper .cssform .inputbt{
          padding: 3px 5px;
        height: 30px;
        width: 90%;
        }
    }
    @media screen and (max-width: 380px) {
      .wrapper{
        margin-bottom: 100px;
      }
  
      .contenido .contimg{
      margin-top: 320px;
      margin-left: 10%;
      width: 250px;
      }
      .contenido2 .contimgAux{
      margin-left: 5%;
      margin-top: 200px;
      margin-bottom: 150px;
      }
      .contenido2 .contimgAux .contimg2{
      width: 100px;
      
      }
      .contenido3 .contForm .contFormAux .wrapper{
        width: 350px;
      }
      .contenido3 .contForm {
        height: 150%;
margin-bottom: 0;
  }
      .contenido3 .contForm .contFormAuxMsj {
        margin-left: 5%;
  width: 100%
  }
  
  .contenido3 .contForm .contFormAux{
  
    margin-left: 5%;
  width: 100%
  }
  
  .contenido3 .contForm .contFormAuxMsj .boxfloattext4{
  line-height: 1em;
  font-size: 1.5rem;
  }
  
  .contenido3 .contForm .contFormAuxMsj .text1{
  margin-left: 10%;
  }
      .wrapper .boxfloattext1 {
          font-size:1.5rem;
        }
        .wrapper .boxfloattext2 {
          font-size:1rem;
        }
        .wrapper .imgsize{
        width: 80px;
        height: 60px;
        }
        .wrapper .cssform .labelcl{
        font-size: .8rem;
        margin-top: -4px;
        }
        .wrapper .cssform .inputcl{
        width: 90%;
        padding: 3px 5px;
        height: 30px;
        margin-top: -4px;
        }
        .wrapper .cssform{
          padding-top: 1px;
        }
        .wrapper .linecl{
          margin-top: -15px;
        }
        .contForm {
          margin-bottom: 140px;
        }
        .wrapper .cssform .inputbt{
          padding: 3px 5px;
        height: 30px;
        width: 90%;
        }
    }  

    @media screen and (max-width: 310px) {
      .wrapper{
        margin-bottom: 100px;
      }
  
      .contenido .contimg{
      margin-top: 320px;
      margin-left: 10%;
      width: 250px;
      }
      .contenido2 .contimgAux{
      margin-left: 5%;
      margin-top: 200px;
      margin-bottom: 150px;
      }
      .contenido2 .contimgAux .contimg2{
      width: 100px;
      
      }
      .contenido3 .contForm .contFormAux .wrapper{
        width: 350px;
      }
      .contenido3 .contForm {
        height: 130%;
margin-bottom: 0;
  }
      .contenido3 .contForm .contFormAuxMsj {
        margin-left: 5%;
  width: 100%
  }
  
  .contenido3 .contForm .contFormAux{
  
    margin-left: 5%;
  width: 100%
  }
  
  .contenido3 .contForm .contFormAuxMsj .boxfloattext4{
  line-height: 1em;
  font-size: 1.5rem;
  }
  
  .contenido3 .contForm .contFormAuxMsj .text1{
  margin-left: 10%;
  }
      .wrapper .boxfloattext1 {
          font-size:1.5rem;
        }
        .wrapper .boxfloattext2 {
          font-size:1rem;
        }
        .wrapper .imgsize{
        width: 80px;
        height: 60px;
        }
        .wrapper .cssform .labelcl{
        font-size: .8rem;
        margin-top: -4px;
        }
        .wrapper .cssform .inputcl{
        width: 90%;
        padding: 3px 5px;
        height: 30px;
        margin-top: -4px;
        }
        .wrapper .cssform{
          padding-top: 1px;
        }
        .wrapper .linecl{
          margin-top: -15px;
        }
        .contForm {
          margin-bottom: 140px;
        }
        .wrapper .cssform .inputbt{
          padding: 3px 5px;
        height: 30px;
        width: 90%;
        }
    }  

    .boxfloattext1 {
      font-size:1.5rem;
    }
    .boxfloattext2 {
      font-size:1rem;
    }
    .boxfloattext3 {
      font-size:2rem;
      font-weight: bold;
    }
    .contlbl{
      width: 300px;
    }
    .contenido{
      width: 100%; 
      margin-top: 100px; 
      margin-bottom: 100px; 
      height: 100%;
      position: absolute;
    }
    .contimg{
      margin-left: 20%;
    }
    .contenido2{
      
      margin-bottom: 350px; 
  
    }
    .contimgAux{
      float: left; 
      margin-left: 20%;
    }
    .contenido3{
      width: 100%;      
      height: 100%;
      position: absolute;
      background-image: url('assets/img/8.jpg');
      background-repeat:no-repeat;
      background-position: 100% 50%;
        background-size: 100%;
  }
  input[type=text], select {
  width: 100%;
  padding: 5px 8px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #666;
  }
  
  input[type=submit] {
  width: 100%;
  background-color: #FC4F17;
  color: white;
  padding: 10px 18px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  }
  
  input[type=submit]:hover {
  background-color: #FC4F17;
  }
  
  .cssform {
  padding: 20px;
  color: white;
  }
  
  ::placeholder {
  color:darkgrey;
  opacity: 1; /* Firefox */
  font-size: 14px;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: darkgrey;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
  color: darkgrey;
  }
  .contForm {
      height: 100%;
      width: 100%;

    }
    .contFormAux {
      margin-top: 100px; 
      width: 40%
    }
    .contFormAuxMsj {
  
      width: 60%;
      padding: 5px;
      margin: 20px auto;
      color: #ffffff;
    }
    .wrapper {
      padding: 5px;
      max-width: 960px;
      width: 100%;
      margin: 20px auto;
     
      height: 100%;
      background-color:#b93606;
      
    }
  
    .imgsize{
        width: 150px;
        height: 100px;
      }
      .hspace{
        margin-top: 40px
      }
      .boxfloattext4 {
      font-size:5rem;
      line-height: 5rem;
      
    }
    .text1 {
    font-size: 1rem;
    line-height: 1rem;
    margin-left:30%;
    }
  </style>

<div class="contenido3">
    <div class="contForm"> 

        <div class="contFormAuxMsj" style="float: left;">
            <div style="margin-top: 10%">
                <div class="boxfloattext4" style="margin-left:15%;"><span style="font-weight:bolder;">SE VIVE</span></div>
                <div class="boxfloattext4" style="margin-left:15%;"><span style="font-weight:bolder;">BIEN</span> Y SI</div>
                <div class="boxfloattext4" style="margin-left:15%;">TE ALCANZA</div>
                <div class="text1"><a routerLink="/agendarcita" class="rk-menu__link">
                  <div style="border-radius: 15px;background:#b93606;width: 200px;height: 40px; border:4px solid #b93606;text-align:center;padding: 5px;margin-top: 1rem;margin-left: 2rem;">Agendar cita</div></a></div>
                 
              </div>
        </div>


        <div class="contFormAux" style="float: left;">
    
          <div class="wrapper">
            <div class="hspace">

              <div style="text-align: center; color: white; text-align: center;">
                <div class="boxfloattext5" style="font-family:Verdana, Geneva, Tahoma, sans-serif; font-weight: bolder;">Teléfono:(998)8810077
                    <a href="https://www.facebook.com/PradoNorteCasasCancun" class="rk-social-btnAuxR " style="margin-left: 10px;">
                      <svg>
                        <use xlink:href="assets/img/symbols.svg#icon-facebook"></use>
                      </svg></a> Prado Norte Cancun
                </div>
                
                <div class="boxfloattext1" style="font-family:Verdana, Geneva, Tahoma, sans-serif; font-weight: bolder;">Contacto</div>
              </div>
      
              <div class="cssform">
                  <form id="frmCita" method="post" enctype="multipart/form-data" action="" data-sizePolicy="fixed" data-pintopage="page_fixedCenter">
                    <label class="labelcl" for="fname">Nombre:</label>
                    <input class="inputcl" type="text" id="fname" name="firstname" placeholder="Introducir nombre..">
                
                    <label class="labelcl" for="lname">Correo electronico:</label>
                    <input class="inputcl" type="text" id="lname" name="lastname" placeholder="Introducir correo electronico..">
                
                    <label class="labelcl" for="fname">Numero de telefono:</label>
                    <input class="inputcl" type="text" id="fname" name="firstname" placeholder="Introducir nº de telf..">
                
                    <label class="labelcl" for="lname">Mensaje:</label>
                    <input class="inputcl" type="text" id="lname" name="lastname" placeholder="Escriba su mensaje..">
                
                    <input class="inputbt" type="submit" value="Enviar">
                  </form>
                </div>  
              </div> 
          </div>
        </div>   
      </div> 
</div>
  