
<style>

    .contForm {
      margin-top: 100px;
      height: auto;
      width: 100%;
      position: absolute;
    }

    .wrapper {

    width: 100%;
    background-image: url('assets/img/ceibas.jpg');
      background-position: 100% 50%;
      background-size: 100%;
  }

  .wrapper2 {

width: 100%;
margin-bottom: 120px;
}

  .columns {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin: 5px 0;
      }
      
      .column {
        flex: 1;
        margin: 5px;
      }
      .column:first-child {
        margin-left: 0;
      }
      .column:last-child {
        margin-right: 0;
      }
      .boxfloattext1 {
        font-size:7rem;
        line-height: 6rem;
      }
      .boxfloattext2 {
        font-size:6rem;
        line-height: 5rem;
      }
      .boxfloattext3 {
        font-weight: bold;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size:3.5rem;
        line-height: 3.5rem;
      }

      @media screen and (max-width: 1280px) {
        .columns .column {
          margin-bottom: 5px;
          flex-basis: 40%;
        }
        .columns .column:nth-last-child(2) {
          margin-right: 0;
        }
        .columns .column:last-child {
          flex-basis: 60%;
          margin: 0;
        }
        .columns .column .boxfloattext1 {
          font-size:4rem;
          line-height: 4rem;
        }
        .columns .column .boxfloattext2 {
          font-size:3rem;
          line-height: 3rem;
        }
        .columns .column .boxfloattext3 {
          font-size:3rem;
          line-height: 3rem;
        }
      }

      @media screen and (max-width: 980px) {
        .columns .column {
          margin-bottom: 5px;
          flex-basis: 40%;
        }
        .columns .column:nth-last-child(2) {
          margin-right: 0;
        }
        .columns .column:last-child {
          flex-basis: 60%;
          margin: 0;
        }
        .columns .column .boxfloattext1 {
          font-size:3rem;
          line-height: 3rem;
        }
        .columns .column .boxfloattext2 {
          font-size:2rem;
          line-height: 2rem;
        }
        .columns .column .boxfloattext3 {
          font-size:2.5rem;
          line-height: 2.5rem;
        }
      }
      @media screen and (max-width: 680px) {
        .columns .column {
          flex-basis: 40%;
          margin: 0 0 5px 0;
        }
        .columns .column .boxfloattext1 {
          font-size:3em;
          line-height: 3rem;
        }
        .columns .column .boxfloattext2 {
          font-size:2rem;
          line-height: 2rem;
        }
        .columns .column .boxfloattext3 {
          font-size:1.5rem;
          line-height: 1.5rem;
        }
      }
      @media screen and (max-width: 460px) {
        .columns .column {
          flex-basis: 40%;
          margin: 0 0 5px 0;
        }
        .columns .column .boxfloattext1 {
          font-size:1.5em;
          line-height: 1.5rem;
        }
        .columns .column .boxfloattext2 {
          font-size:1rem;
          line-height: 1rem;
        }
        .columns .column .boxfloattext3 {
          font-size:1rem;
          line-height: 1rem;
        }
      }
      
      .column1 {
        flex: 1;
        margin: 5px;
        color: white; 
        font-weight: bold; 
        text-align: center;
        font-size: 2rem;
      }

      .backimg{
        height: 290px;
      }

      .column1 .backimg:hover{
        background: rgba(219, 108, 61, 0.6);
      }

      .column1:first-child {
        margin-left: 0;
      }
      .column1:last-child {
        margin-right: 0;
      }

      @media screen and (max-width: 980px) {
        .columns .column1 {
          margin-bottom: 5px;
          flex-basis: 15%;
          height: 200px;
          font-size: 1.5rem;
        }
        .columns .column1:nth-last-child(2) {
          margin-right: 0;
        }
        .columns .column1:last-child {
          flex-basis: 20%;
          margin: 0;
        }

        .columns .column1 .backimg{
        height: 200px;
        }


      }
      @media screen and (max-width: 680px) {
        .columns .column1 {
          flex-basis: 20%;
          margin: 0 0 5px 0;
          height: 150px;
          font-size: 1rem;
        }
        .columns .column1 .backimg{
        height: 150px;
        }

      }
    </style>
  
    <div class="contForm"> 
   
        <div class="wrapper">
  
            <section class="columns"> 
  
              <div class="column" style="color: white; padding-left: 80px; padding-top: 50px"> 
             <div class="boxfloattext1"><span style="font-weight:900;">SE VIVE</span></div>
             <div class="boxfloattext1"><span style="font-weight:900;">BIEN </span><span class="boxfloattext2"> Y SI</span></div>
             <div class="boxfloattext2">TE ALCANZA</div>
             <a routerLink="/agendarcita" class="rk-menu__link"><div style="border-radius: 15px;
              background:#b83d05;
              width: 200px;
              height: 40px; 
              border:4px solid #b83d05;
              text-align:center;
              padding: 5px;
              margin-top: 1rem;
              margin-left: 20%;
              ">
              Agendar cita
              </div></a>
              
              </div>
  
              <div class="column"> 
              </div>
  
            </section>
            <section class="columns"> 
  
                <div class="column"> 
               
               
                </div>
                
    
                <div class="column" style="color: white; padding-left: 20%"> 
                    <div class="boxfloattext3">Modelo de casas</div>
                </div>
  
              </section>

        <div style="background-color: #FC4F17; width: 100%; height: 80px">


        </div>


        </div>
        <div class="wrapper2">
        <section class="columns"> 
  
            <div class="column1"> 
           
            </div>
            
        
            <div class="column1" style="background-image: url('assets/img/cedro.png');"> 
              
              <a routerLink="/cedro" class="rk-menu__link"><div class="backimg">
                <div style="padding-top: 50%">
                  CEDRO
                </div>
              </div></a>
              
            </div>
        
            <div class="column1" style="background-image: url('assets/img/ceiba.png?crc=3796803990');"> 
              <a routerLink="/ceiba" class="rk-menu__link"><div class="backimg">
                <div style="padding-top: 50%">
                  CEIBA
                </div>
              </div></a>
            </div>
              
          
              <div class="column1" style="background-image: url('assets/img/nogal.png?crc=481237397');"> 
                <a routerLink="/nogal" class="rk-menu__link"><div class="backimg">
                  <div style="padding-top: 50%">
                    NOGAL
                  </div>
                </div></a>
              </div>
                
            
                <div class="column1"> 
                    
                </div>
        
          </section>
        </div>

    </div> 

    