<style>
    /*=====================================================
     Base
  =====================================================*/
    #content-slider {
      line-height: 1;
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-size: 10px;
      /* font-size 1em = 10px = 62.5%*/
      /* background: #4e616d;*/
  
    }
  
  
    /*=====================================================
     Clearfix
  =====================================================*/
    .clr {
      *zoom: 1;
    }
  
    .clr:before,
    .clr:after {
      display: table;
      content: "";
      line-height: 0;
    }
  
    .clr:after {
      clear: both;
    }
  
  
    /*=====================================================
     Wrapper
  =====================================================*/
    #content-slider .wrap-slider {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
  
      max-width: 100%;
      /*max-height: 400px;*/
      height: 100%;
      width: 40%;
      margin: 0px auto;
      position: relative;
      text-align: right;
      margin-top: 115px;
      margin-left: 46%;
    }
  
    #content-slider .wrap-slider.full {
      width: 100%;
      max-width: 100%;
      text-align: center;
      border: none;
    }
  
  
  
    /*=====================================================
     Responsive Images
     (Ensure images don't scale beyond their parents)
  =====================================================*/
    #content-slider img {
      max-width: 100%;
      width: auto\9;
      height: auto;
      vertical-align: middle;
      border: 0;
      -ms-interpolation-mode: bicubic;
    }
  
  
    /*=====================================================
     Main
  =====================================================*/
    #content-slider .slider {
      margin-top: 5%;
      position: relative;
      overflow: hidden;
      width: 100%;
      margin: 0 auto;
    }
  
    #content-slider .inset {
      width: 1000%;
      line-height: 0;
  
      -webkit-animation: 60s slidy infinite;
      -moz-animation: 60s slidy infinite;
      -ms-animation: 60s slidy infinite;
      -o-animation: 60s slidy infinite;
      animation: 60s slidy infinite;
  
      -webkit-transition: all 3s ease-in-out;
      -moz-transition: all 3s ease-in-out;
      -ms-transition: all 3s ease-in-out;
      -o-transition: all 3s ease-in-out;
      transition: all 3s ease-in-out;
    }
  
    #content-slider h1.main-title {
      text-align: center;
      color: #00ABFA;
      font-weight: 200;
      font-size: 32px;
      text-transform: uppercase;
      line-height: 62px;
      letter-spacing: 0.1em;
      margin: 5px 0 0px 0;
    }
  
    #content-slider .slider [class*='title-'] {
      background: rgba(0, 0, 0, 0.51);
      padding: 1% 1%;
      display: inline-block;
      width: 40%;
      /*width: 385px;*/
      height: auto;
      position: absolute;
      z-index: 1;
      margin: 15px 0 0 15px;
      /*margin-bottom: -15%;
    left: -65%;*/
      /*
    margin-left: -40%;*/
      line-height: normal;
      overflow: hidden;
      text-align: left;
  
      -webkit-transition: all 0.8s ease-in-out;
      -moz-transition: all 0.8s ease-in-out;
      -ms-transition: all 0.8s ease-in-out;
      -o-transition: all 0.8s ease-in-out;
      transition: all 0.8s ease-in-out;
    }
  
    #content-slider .th>[class*='title-'] {
      width: auto;
      height: auto;
      position: absolute;
      top: 0em;
      right: 0em;
      text-align: right;
      margin: 5px 10px 0 0;
      opacity: 1;
      line-height: normal;
      overflow: hidden;
  
      -webkit-transition: all 0.8s ease-in-out;
      -moz-transition: all 0.8s ease-in-out;
      -ms-transition: all 0.8s ease-in-out;
      -o-transition: all 0.8s ease-in-out;
      transition: all 0.8s ease-in-out;
    }
  
    /*=====================================================
     Main Image
  =====================================================*/
    #content-slider figure {
      margin: 0;
      padding: 0;
      width: 10%;
      float: left;
      cursor: pointer;
  
      -webkit-transition: all 2s ease-in-out;
      -moz-transition: all 2s ease-in-out;
      -ms-transition: all 2s ease-in-out;
      -o-transition: all 2s ease-in-out;
      transition: all 2s ease-in-out;
    }
  
    #content-slider figure img {
      width: 100%;
      height: 605px;
      position: relative;
    }
  
  
    /*=====================================================
     Animation Image
  =====================================================*/
  
    @keyframes slidy {
      10% {
        margin-left: 0%;
      }
  
      20% {
        margin-left: -100%;
      }
  
      30% {
        margin-left: -200%;
      }
  
      40% {
        margin-left: -300%;
      }
  
      50% {
        margin-left: -400%;
      }
  
      60% {
        margin-left: -500%;
      }
  
      70% {
        margin-left: -600%;
      }
      80% {
        margin-left: -700%;
      }
      90% {
        margin-left: -800%;
      }
      100% {
        margin-left: -900%;
      }
    }
  
  
    .floatcont {
      position: absolute;
      height: 650px;
      width: 450px;
      color: white;
      background:#b93606;
      z-index: -1;
      margin-top: 130px;
      margin-left: 24%;
    }
  
    .slidefooter {
      position: absolute;
      height: 60px;
      width: 40%;
      color: white;
      background:#FC4F17;
      z-index: 1;
      margin-top: 650px;
      margin-left: 46%;
      line-height: 60px;
      text-align: center;
      font-size: 2rem;
      font-weight: 900;
    }
  
    /* STRUCTURE */
  
    .columnsimg {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      margin-left: 10%;
      margin-right: 10%;
    }
  
    .columnimg {
      flex: .8;
      margin: 2px;
      padding: 10px;
      font-size: .7rem;
    }
  
    .columnimg:first-child {
      margin-left: 0;
    }
  
    .columnimg:last-child {
      margin-right: 0;
    }
  
    .floatcont .text1 {
    margin-left:40%;
    }
  
    @media screen and (max-width: 1280px) {
  
      #content-slider .th h1 {
        font-size: 1.2em;
        line-height: 1em;
      }
  
      #content-slider .th p {
        font-size: 1.0em;
        line-height: 0.7em;
      }
  
      #content-slider .th a {
        font-size: 0.55em;
        line-height: 0.55em;
      }
  
      .floatcont {
  
        height: 650px;
        width: 450px;
        margin-left: 18%;
      }
  
      .slidefooter {
  
      width: 50%;
      }
  
      .floatcont .text1 {
  
        margin-left:30%;
      }
  
      #content-slider .wrap-slider {
  
      
      width: 50%;
  
    }
  
  
      .contenido3 {
        height: 110%;
        margin-bottom: 100px;
  
      }
          .contenido3 .contFormAuxMsj {
  
          width: 50%
          }
  
          .contenido3 .contFormAux{
  
          width: 50%
      }
  
      .contenido3 .contFormAuxMsj .boxfloattext4{
        line-height: 4rem;
      font-size: 4rem;
      }
  
      .contenido3 .contFormAuxMsj .text1{
      margin-left: 15%
      }
  
      .columnsimg{
        margin-left: 5%;
        margin-right: 5%;
      }
      .columnsimg .columnimg{
        flex: .9;
      }
  
    }
    @media screen and (max-width: 980px) {
      #content-slider .th h1 {
        font-size: 1.2em;
        line-height: 1em;
      }
  
      #content-slider .th p {
        font-size: 1.0em;
        line-height: 0.7em;
      }
  
      #content-slider .th a {
        font-size: 0.55em;
        line-height: 0.55em;
      }
  
      .floatcont {
  
        height: 650px;
        width: 450px;
        margin-left: 5%;
  
      }
      .slidefooter {
  
        width: 60%;
      margin-left: 35%;
      }
  
      .floatcont .text1 {
  
        margin-left:30%;
      }
  
      .columns .column  {
        height: 240px;
      }
      #content-slider .wrap-slider {
  
          
      width: 60%;
      margin-left: 35%;
  
      }
      .floatcont .boxfloattext1{
        font-size: 1rem;
      }
      .floatcont .boxfloattext2{
        font-size: .7rem;
      }
      .floatcont .boxfloattext3{
        font-size: 1.5rem;
      }
      .floatcont .contlbl{
        width: 220px;
      }
      .contenido2 {
      
      height: 50px;
      
    }
   
      .contenido2 .contimgAux .classimg{
      
        width: 250px;
  
      }
  
      .contenido2 .contimgAux .contimg2{
      width: 250px;
  
      }
      .contenido3 {
        height: 100%;
        
      }
          .contenido3 .contFormAuxMsj {
      width: 100%
      }
  
      .contenido3 .contFormAux{
        margin-left: 10%;
      width: 80%;
      height: 100%;
      margin-bottom: 100px;
      }
  
      .contenido3 .contFormAuxMsj .boxfloattext4{
      line-height: 4rem;
      font-size: 4rem;
      }
  
      .contenido3 .contFormAuxMsj .text1{
      margin-left: 20%;
      }
  
      .columnsimg .columnimg{
        flex: 1;
      }
      
    }  
    @media screen and (max-width: 680px) {
  
      #content-slider .slider [class*='title-'] {
        margin-bottom: -20%;
      }
  
      .floatcont {
  
        height: 400px;
        width: 100%;
        margin-top: 720px;
        margin-left:0;
        margin-bottom: 130px;
      }
  
      .floatcont .text1 {
  
      font-size: .9rem;
      line-height: .9rem;
      margin-left:20%;
  
      }
  
      .columns .column  {
        height: 330px;
      }
  
      .wrapper{
        margin-bottom: 50px;
      }
  
      #content-slider .wrap-slider {
        width: 100%;
        margin-left:0;
      }
  
      .slidefooter {
      width: 100%;
      margin-left: 0;
      }
  
      .columnsimg{
        margin-top: 500px;
        margin-left: 0;
        margin-right: 0;
      }
      .columnsimg .columnimg{
        font-size: .4rem;
        flex: 1;
      }
      
    .contenido2 .contimgAux .classimg{
      width: 150px;
      height: 110px;
      }
      .contenido2 .contimgAux{
      margin-left: 10%;
   
      }
      .contenido2 .contimgAux .contimg2{
      width: 150px;
      
      }
  
      .contenido3 {
        height: 100%;
      }   
      .contenido3 .contFormAuxMsj {
      width: 100%
      }
  
      .contenido3 .contFormAux{
      margin-left: 5%;
      width: 350px;
      height: 430px;
      margin-bottom: 110px;
      }
  
      .contenido3 .contFormAuxMsj .boxfloattext4{
      line-height: 2rem;
      font-size: 2rem;
      }
  
      .contenido3 .contFormAuxMsj .text1{
      margin-left: 10%;
      }
  
      .wrapper .boxfloattext1 {
          font-size:1.5rem;
        }
        .wrapper .boxfloattext2 {
          font-size:1rem;
        }
        .wrapper .imgsize{
        width: 80px;
        height: 60px;
        }
        .wrapper .cssform .labelcl{
        font-size: .8rem;
        margin-top: -4px;
        }
        .wrapper .cssform .inputcl{
        width: 90%;
        padding: 3px 5px;
        height: 30px;
        margin-top: -4px;
        }
        .wrapper .cssform{
          padding-top: 1px;
        }
        .wrapper .linecl{
          margin-top: -15px;
        }
  
        .wrapper .cssform .inputbt{
          padding: 3px 5px;
        height: 30px;
        width: 90%;
        }
  
    .columnsimg .columnimg .imageclss1{
  
      width: 40px;
  
    }
    .columnsimg .columnimg .imageclss2{
  
      width: 100px;
  
    }
    .columnsimg .columnimg .imageclss3{
  
      width: 30px;
  
    }
    .columnsimg .columnimg .imageclss4{
   
      width: 20px;
  
    }
    .columnsimg .columnimg .imageclss5{
  
      width: 30px;
  
    }
    .columnsimg .columnimg .imageclss6{
  
      width: 60px;
  
    }
    .contenido3 .contFormAux .wrapper .boxfloattext5 {
      font-size:.7rem;
    }
  
    }
    @media screen and (max-width: 370px) {
      .wrapper{
        margin-bottom: 100px;
      }
  
      .contenido2 .contimgAux{
      margin-left: 5%;
      margin-top: 0;
      margin-bottom: 0;
      }
      .contenido2 .contimgAux .contimg2{
      width: 100px;
      
      }
      .contenido3{
        margin-top: 0;
        margin-bottom: 0;
      }
      .contenido3 .contFormAux{
  
        margin-left: 0;
      }
  
      .wrapper .boxfloattext1 {
          font-size:1.5rem;
        }
        .wrapper .boxfloattext2 {
          font-size:1rem;
        }
        .wrapper .imgsize{
        width: 80px;
        height: 60px;
        }
        .wrapper .cssform .labelcl{
        font-size: .8rem;
        margin-top: -4px;
        }
        .wrapper .cssform .inputcl{
        width: 90%;
        padding: 3px 5px;
        height: 30px;
        margin-top: -4px;
        }
        .wrapper .cssform{
          padding-top: 1px;
        }
        .wrapper .linecl{
          margin-top: -15px;
        }
        .contForm {
          margin-bottom: 140px;
        }
        .wrapper .cssform .inputbt{
          padding: 3px 5px;
        height: 30px;
        width: 90%;
        }
        .columnsimg{
          margin-left: 0;
          margin-right: 0;
        }
  
        .columnsimg .columnimg{
        font-size: .3rem;
        flex: 1;
        }
  
        .columnsimg .columnimg .imageclss1{
  
        width: 30px;
  
        }
        .columnsimg .columnimg .imageclss2{
  
        width: 50px;
  
        }
        .columnsimg .columnimg .imageclss3{
  
        width: 20px;
  
        }
        .columnsimg .columnimg .imageclss4{
  
        width: 25px;
  
        }
        .columnsimg .columnimg .imageclss5{
  
        width: 30px;
  
        }
        .columnsimg .columnimg .imageclss6{
  
        width: 40px;
  
        }
        .contFormAux .wrapper .boxfloattext5 {
            font-size:.6rem;
          }
    
    }  
  
  
    .boxfloattext1 {
      font-size:1.5rem;
    }
    .boxfloattext2 {
      font-size:1rem;
    }
    .boxfloattext3 {
      font-size:2rem;
      font-weight: bold;
    }
    .contFormAux .wrapper .boxfloattext5 {
      font-size:1rem;
    }
    .contlbl{
      width: 300px;
    }
    .contenido{
      
      margin-top: 100px; 
      margin-bottom: 50px; 
  
    }
    .contimg{
      margin-left: 20%;
    }
    .contenido2{
      
      margin-bottom: 350px; 
      height: 200px;
  
    }
    .contimgAux{
      float: right; 
    }
  
    input[type=text], select {
    width: 100%;
    padding: 5px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #666;
    }
  
    input[type=submit] {
    width: 100%;
    background-color: #FC4F17;
    color: white;
    padding: 10px 18px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }
  
    input[type=submit]:hover {
    background-color: #FC4F17;
    }
  
  .cssform {
  padding: 20px;
  color: white;
  }
  
  ::placeholder {
  color:darkgrey;
  opacity: 1; /* Firefox */
  font-size: 14px;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: darkgrey;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
  color: darkgrey;
  }
  .contForm {
      height: 100%;
      width: 100%;
  
    }
   
    .wrapper {
      padding: 5px;
      max-width: 960px;
      width: 100%;
      height: 100%;
      background-color:#b93606;
      
    }
  
    .imgsize{
        width: 150px;
        height: 100px;
      }
      .hspace{
        margin-top: 40px
      }
      .boxfloattext4 {
      font-size:5rem;
      line-height: 5rem;
      
    }
    .text1 {
    font-size: 1rem;
    line-height: 1rem;
    margin-left:30%;
    }
    .classimg{
      content:url('assets/img/cedro3602.png');
      width: 250px;
    height: 180px;
    }
    .classimg:hover{
      content:url('assets/img/cedro360.png');
      width: 250px;
    height: 180px;
    }
    .imageclss1{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 60px;
  
    }
    .imageclss2{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 130px;
  
    }
    .imageclss3{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 60px;
  
    }
    .imageclss4{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 35px;
  
    }
    .imageclss5{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 70px;
  
    }
    .imageclss6{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100px;
  
    }
    .contenido3{
      
      margin-bottom: 100px; 
      height: 550px;
      width: 100%;
   
      }
      
    .contFormAux {
      width: 40%
    }
    .contFormAuxMsj {
  
      width: 60%;
      height: 545px;
      padding: 5px;
      color: #ffffff;
      background-image: url('assets/img/8.jpg');
      background-repeat:no-repeat;
      background-position: 100% 50%;
      background-size: 100% 545px;
    }
  </style>
  
  
  <div class="floatcont">
    <div class="contlbl" style="margin-top: 1%;padding: 20px;">
      <div class="boxfloattext3">
        CEIBA
      </div>
      <div class="boxfloattext1">
        Construcción: 51.7 m2
      </div>
      <div class="boxfloattext2" style="margin-top: 20px;">
        * Sala - Comedor
      </div>
      <div class="boxfloattext2">
        * Cocina
      </div>
      <div class="boxfloattext2">
        * Área de lavado interior.
      </div>
      <div class="boxfloattext2">
        * 2 recámaras
      </div>
      <div class="boxfloattext2">
        * 1 Baño completo
      </div>
      <div class="boxfloattext2">
        * Estacionamiento para 1 auto
      </div>
      <div class="boxfloattext2">
        * Con: Mosquiteros, Hamaqueros, Pasta y Piso
      </div>

      <div class="boxfloattext2" style="margin-top: 20px;">
        Precio desde:
      </div>
      <div class="boxfloattext2">
        PB $390,000.00
      </div>
      <div class="boxfloattext2">
        N2 $382,000.00
      </div>
      <div class="boxfloattext2">
        N3 $382,000.00
      </div>
      <div class="boxfloattext2">
        N4 $374,000.00
      </div>
  
    </div>
  
  </div>

  <div class="slidefooter">CEIBA</div>

  <div id="content-slider" class="clr">
    <div class="wrap-slider clr">
  
      <div class="slider">
  
        <div class="inset">
  
          <figure>
  
            <img src="assets/img/ceiba1.jpg" style="opacity: 1;" alt="" id="i-1" class="f">
          </figure>
  
          <figure>
  
            <img src="assets/img/ceiba2.jpg" alt="" id="i-2" class="f">
          </figure>
  
          <figure>
  
            <img src="assets/img/ceiba3.jpg" alt="" id="i-3" class="f">
          </figure>
  
          <figure>
  
            <img src="assets/img/ceiba4.jpg" alt="" id="i-4" class="f">
          </figure>
          <figure>
  
              <img src="assets/img/ceiba5.png" alt="" id="i-5" class="f">
            </figure>
    
            <figure>
    
              <img src="assets/img/cedro0.jpg" alt="" id="i-6" class="f">
            </figure>
            <figure>
    
                <img src="assets/img/cedro1.jpg" alt="" id="i-7" class="f">
              </figure>
              <figure>
    
                  <img src="assets/img/cedro2.jpg" alt="" id="i-8" class="f">
                </figure>
                <figure>
        
                    <img src="assets/img/cedro5.jpg" alt="" id="i-9" class="f">
                  </figure>
                  <figure>
    
                      <img src="assets/img/cedro6.jpg" alt="" id="i-10" class="f">
                    </figure>
        </div>
      </div>
  
    </div>
  
  
  </div>
  
<div class="contenido">
      <section class="columnsimg"> 
    
          <div class="columnimg"> 
              <img src="assets/img/construcion.png" class="imageclss1">
              <div style="font-weight: bold; text-align: center;">construcción</div>
              <div style="text-align: center;">51.72m2</div>
          </div>
          <div class="columnimg"> 
              <img src="assets/img/salacomedor.png" class="imageclss2">
              <div style="font-weight: bold; text-align: center;">Sala-Comedor</div>
          </div>
          <div class="columnimg"> 
              <img src="assets/img/cocina.png" class="imageclss3">
              <div style="font-weight: bold; text-align: center;">Cocina</div>
          </div>
          <div class="columnimg"> 
              <img src="assets/img/banio.png" class="imageclss4">
              <div style="font-weight: bold; text-align: center;">Baños</div>
              <div style="text-align: center;">1 Completos</div>
          </div>
          <div class="columnimg"> 
              <img src="assets/img/recamara.png" class="imageclss5">
              <div style="font-weight: bold; text-align: center;">Recámaras</div>
              <div style="text-align: center;">2</div>
          </div>
          <div class="columnimg"> 
              <img src="assets/img/estacionamiento.png" class="imageclss6">
              <div style="font-weight: bold; text-align: center;">Estacionamiento para un auto</div>
          </div>
      </section>
  </div>
  
  <div class="contenido2">
      <div class="contimgAux">
          <img class="contimg2" src="assets/img/360ceiba.jpg" width="400" height="200">
    
      </div>
    <div class="contimgAux" style="margin-top: 150px;">

          <a href="https://my.matterport.com/show/?m=4GKhpKDti9y" target="_blank" class="rk-menu__link">
            <div class="classimg"></div>
          
          </a>
  
    </div>

  
  </div>
  <div class="contenido3">
      <div class="contFormAuxMsj" style="float: left;"> 
          <div style="margin-top: 10%">
              <div class="boxfloattext4" style="margin-left:15%;"><span style="font-weight:bolder; font-family: 'Arial Black', Gadget, sans-serif;">SE VIVE</span></div>
              <div class="boxfloattext4" style="margin-left:15%;"><span style="font-weight:bolder; font-family: 'Arial Black', Gadget, sans-serif;">BIEN</span><span style="font-weight:600;"> Y SI</span></div>
              <div class="boxfloattext4" style="margin-left:15%;"><span style="font-weight:600;">TE ALCANZA</span></div>
              <div class="text1"><a routerLink="/agendarcita" class="rk-menu__link">
                <div style="border-radius: 15px;background:#b93606;width: 200px;height: 40px; border:4px solid #b93606;text-align:center;padding: 5px;margin-top: 1rem;margin-left: 2rem;">Agendar cita</div></a></div>
               
            </div>
      </div>
      <div class="contFormAux" style="float: left;"> 
          <div class="wrapper">
              <div class="hspace">
  
                <div style="text-align: center; color: white; text-align: center;">
                  <div class="boxfloattext5" style="font-family:Verdana, Geneva, Tahoma, sans-serif; font-weight: bolder;">Teléfono:(998)8810077
                      <a href="https://www.facebook.com/PradoNorteCasasCancun" class="rk-social-btnAuxR " style="margin-left: 10px;">
                        <svg>
                          <use xlink:href="assets/img/symbols.svg#icon-facebook"></use>
                        </svg></a> Prado Norte Cancun
                  </div>
                  
                  <div class="boxfloattext1" style="font-family:Verdana, Geneva, Tahoma, sans-serif; font-weight: bolder;">Contacto</div>
                </div>
        
                <div class="cssform">
                    <form id="frmCita" method="post" enctype="multipart/form-data" action="" data-sizePolicy="fixed" data-pintopage="page_fixedCenter">
                      <label class="labelcl" for="fname">Nombre:</label>
                      <input class="inputcl" type="text" id="fname" name="firstname" placeholder="Introducir nombre..">
                  
                      <label class="labelcl" for="lname">Correo electronico:</label>
                      <input class="inputcl" type="text" id="lname" name="lastname" placeholder="Introducir correo electronico..">
                  
                      <label class="labelcl" for="fname">Numero de telefono:</label>
                      <input class="inputcl" type="text" id="fname" name="firstname" placeholder="Introducir nº de telf..">
                  
                      <label class="labelcl" for="lname">Mensaje:</label>
                      <input class="inputcl" type="text" id="lname" name="lastname" placeholder="Escriba su mensaje..">
                  
                      <input class="inputbt" type="submit" value="Enviar">
                    </form>
                  </div>  
                </div> 
            </div>
      </div>
  
  </div>